footer#footer
    ul.icons
    ul.copyright
        li
            | &copy; 
            a(href='http://www.opensaas.com.au', target='_blank') OpenSaas.
            |  All rights reserved.
        li
            | Hosted by: 
            a(href='http://www.opensaas.com.au', target='_blank') OpenSaas.
        li
            | Design: 
            a(href='http://html5up.net') HTML5 UP

