header#header.alt
    h1
        a(href='index.html') Bendigo
        |  Gig Guide
    nav#nav
        ul
            li
                a(href='index.html') Home
            li
                a.button(href='http://www.opensaas.com.au/contact.html', target='_blank') Contact


