extends ../../layouts/default



block intro
    section#banner
        h2 Bendigo Gig Guide
        p Your guide to live music in Bendigo
        p Check it out below
        ul.actions
            li
                a.button.special(href='http://www.opensaas.com.au/contact.html', target='_blank') Contact
                
block content
    section#main.container
        section.box.special
            header.major
                h2  The Bendigo Live Music Gig Guide
                #calendar
                p
                    | Information on local live music. If you are interested in helping or supporting this project in anyway please 
                    a(href='http://www.opensaas.com.au/contact.html', target='_blank') Contact Us.
            |
            span.image.featured
                img(src='images/pic01.jpeg', alt='')
        section.box.special.features
            .features-row
                section
                    span.icon.major.fa-filter.accent2
                    h3 Bendigo Gig Calendar - Coming Soon
                    p
                        | Sort and filter local live music according to you tastes and availability - 
                        a(href='http://www.opensaas.com.au/contact.html', target='_blank') Contact Us
                        |  to get involved
                section
                    span.icon.major.fa-area-chart.accent3
                    h3 Artists and Venues - Coming Soon
                    p
                        | If you are an artist or run a venue - add, update and manage your upcoming events - 
                        a(href='http://www.opensaas.com.au/contact.html', target='_blank') Contact Us
                        |  to get involved
        .row
            .d6u(class='c12u(narrower)')
                section.box.special
                    span.image.featured
                        img(src='/images/OpenSaasLogo.jpg', alt='')
                    h3
                        | Website by 
                        a(href='http://www.opensaas.com.au', target='_blank') OpenSaas.
                    p
                    ul.actions
                        li
                            a.button.alt(href='http://www.opensaas.com.au', target='_blank') Learn More
            .d6u(class='c12u(narrower)')
                section.box.special
                    span.image.featured
                        img(src='images/OldChurchLogo.png', alt='')
                    h3
                        | In partnership with 
                        a(href='http://www.theoldchurchonthehill.com.au', target='_blank') The Old Church on the Hill
                    p
                    ul.actions
                        li
                            a.button.alt(href='http://www.theoldchurchonthehill.com.au', target='_blank') Learn More
                
block js                 
    script(src='/js/jquery/dist/jquery.min.js')
    script(src='/js/jquery.dropotron.min.js')
    script(src='/js/jquery.scrollgress.min.js')
    script(src='/js/skel.min.js')
    script(src='/js/util.js')
    script(src='/js/moment/min/moment.min.js')
    script(src='/js/fullcalendar/fullcalendar.min.js')
    script(src='//cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js')
    //if lte IE 8
      script(src='/js/ie/respond.min.js')
    script(src='/js/main.js')
    script(src='/js/gigGuide/gigGuideBasicView.js')
        

